/* Global style */
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #7675ff;
	width: 100%;
	font-family: sans-serif;
}
/* Login page style */
.container {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.form {
	height: 10vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
#errorText {
	color: #f08ea2;
	visibility: hidden;
	font-size: 1rem;
}

.errorBorder {
	border: 2px solid #ff0000;
	border-radius: 5px;
}
#loginBtn {
	background: #7aa4ff;
	border-radius: 5px;
	padding: 5%;
	margin-left: 0;
	border: none;
	cursor: pointer;
	width: 10%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.usernameField {
	height: 100%;
	padding: 5%;
	margin-right: 0;
	border: none;
	cursor: text;
}
#usernameFieldLabel {
	font-size: 1.4rem;
	margin-left: auto;
	margin-right: auto;
}
.textWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	justify-content: center;
}
.icon {
	font-size: 1.4rem;
	padding: 2px;
}
@media screen and (min-width: 768px) {
	#errorText {
		font-size: 1.2rem;
	}
}

/* Chat style*/
.input-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 1%;
	width: 100%;
	height: 5%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #7aa4ff;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.message-list {
	overflow: auto;
	margin-bottom: 10vh;
}
.message {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	color: black;
	background: rgb(100, 109, 218);
	border-radius: 10px;
	display: block;
}

#message-input {
	width: 50%;
}
.button {
	border: none;
	background: none;
}
.logoutBtn {
	position: absolute;
	right: 0;
}
@media screen and (min-width: 768px) {
	.message {
		width: 30%;
	}
	.message:nth-child(odd) {
		margin-left: auto;
		margin-right: 40px;
	}
	.message:nth-child(even) {
		margin-left: 40px;
		margin-right: auto;
	}
}
